In [ ]:
# Load the data and libraries
import pandas as pd
import numpy as np

adult = pd.read_csv('adult_with_pii.csv')

## Question 1
"Construct a de-identified version of the adult dataset"
What columns did you remove from the dataset to de-identify it? Why did you choose these columns? Why did you not choose the remaining columns?

YOUR ANSWER HERE

In [ ]:
def deidentify_adult():
    # YOUR CODE HERE
    raise NotImplementedError()

adult_deid = deidentify_adult()

## Question 2
Write a pandas expression to return just the row containing information about Brenn McNeely.

In [ ]:
def get_brenns_row():
    # YOUR CODE HERE
    raise NotImplementedError()

brenns_row = get_brenns_row()[['Name', 'DOB', 'Zip', 'Age']]

In [ ]:
assert len(brenns_row) == 1
assert brenns_row['Zip'].iloc[0] == 95668
assert brenns_row['Age'].iloc[0] == 38

In [ ]:
brenns_row

# Question 3
Conduct a linking attack to recover Brenn's data from the adult_deid dataset.

In [ ]:
def recover_brenns_row():
    # YOUR CODE HERE
    raise NotImplementedError()

brenns_recovered_row = recover_brenns_row()

In [ ]:
assert len(brenns_recovered_row) == 1
assert brenns_recovered_row['Education'].iloc[0] == 'HS-grad'

# Question 4
What is the maximum age recorded in the dataset?

What is the difference in the sum of ages between the entire dataset and the dataset excluding Brenn McNeely's age?

What is the mean age of individuals in the dataset?

## Question 5
Write code to group the adult dataset by a single column and count the number of members in each group.

In [ ]:
def group_one_count(col):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
group_one_count('Education')
s = group_one_count('Education')

In [ ]:
assert s['10th'] == 933
assert s['9th'] == 514
assert s['Some-college'] == 7291

## Question 6
Write code to group the adult dataset by two columns and count the number of members in each group.

In [ ]:
def group_two_count(col1, col2):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
group_two_count('Occupation', 'Education')
s = group_two_count('Occupation', 'Education')

In [ ]:
assert s['Transport-moving']['Doctorate'] == 1
assert s['Adm-clerical']['10th'] == 38

In [ ]:
s['Transport-moving']['Doctorate']

1

# Question 7
Write code to perform a differencing attack to determine Brenn McNeely's age using only the mean aggregation function over large groups.Assume you have access to len of dataset

In [ ]:

def get_brenns_age():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:

brenns_age = get_brenns_age()
assert brenns_age == 32.0

Question 8
What columns should we designate as quasi-identifiers in the dataset df, and why?

YOUR ANSWER HERE

In [ ]:
# Display the DataFrame containing Education, Marital Status, and Target columns
df = adult[['Education', 'Marital Status', 'Target']]
df.head(10)

   Education         Marital Status Target
0  Bachelors          Never-married  <=50K
1  Bachelors     Married-civ-spouse  <=50K
2    HS-grad               Divorced  <=50K
3       11th     Married-civ-spouse  <=50K
4  Bachelors     Married-civ-spouse  <=50K
5    Masters     Married-civ-spouse  <=50K
6        9th  Married-spouse-absent  <=50K
7    HS-grad     Married-civ-spouse   >50K
8    Masters          Never-married   >50K
9  Bachelors     Married-civ-spouse   >50K

# Question 8
Does the dataset df satisfy
3-Anonymity for
? Why not?

YOUR ANSWER HERE

# Question 9
Imagine the column Target is not a quasi-identifier, and we generalize the dataset to achieve
-Anonymity for
 as follows:

Do this in code Replace each education level below "HS Grad" with < HS and others with >= HS
Replace marital status with Married and Not Married
Delete rows as required to achieve
-anonymity for
For which rows is a homogeneity attack possible, and why?

YOUR ANSWER HERE after executing code

#Question 10
Write code to generalize the Zip column in the adult dataset.

In [ ]:
def generalize_zip(zip, depth):
    # YOUR CODE HERE
    raise NotImplementedError()

#Question 11

In [ ]:
# Load the data and libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

Write a counting query to determine whether or not Karrie Trusslove's age is 39.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
# TEST CASE

assert karrie_query() == 1

# Question 12

Add Laplace noise to the counting query you wrote in the last question to ensure differential privacy for epsilon=1
.

In [ ]:

# YOUR CODE HERE
raise NotImplementedError()
# TEST CASE

q2_runs = [dp_karrie_query() for _ in range(100)]
noise_runs = [np.random.laplace(loc=1, scale=1/epsilon) for _ in range(100)]

assert stats.wasserstein_distance(q2_runs, noise_runs) < 1

# Question 13

Now lets generalize above approach to a function

In [ ]:
def laplace_mech(v, sensitivity, epsilon):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# TEST CASE for question
dist1 = [laplace_mech(50, 1, 1.0) for _ in range(200)]
dist2 = [np.random.laplace(loc=50, scale=1) for _ in range(200)]

assert stats.wasserstein_distance(dist1, dist2) < 1

# Question 14
Complete the definition of dp_sum_capgain below. Your definition should compute a differentially private sum of the "Capital Gain" column of the adult dataset, and have a total privacy cost of epsilon.


In 2-5 sentences each, answer the following:

What clipping parameter did you use in your definition of dp_sum_capital, and why?
What was the sensitivity of the query you used in dp_sum_capital, and how is it bounded?
Argue that your definition of dp_sum_capital has a total privacy cost of epsilon
YOUR ANSWER HERE

In [ ]:
def dp_sum_capgain(epsilon):
    # YOUR CODE HERE
    raise NotImplementedError()

dp_sum_capgain(1.0)
# TEST CASE for question
def pct_error(orig, priv):
    return np.abs(orig - priv)/orig * 100.0

In [ ]:
real_sum = adult['Capital Gain'].sum()
r1 = np.mean([pct_error(real_sum, dp_sum_capgain(0.1)) for _ in range(100)])
r2 = np.mean([pct_error(real_sum, dp_sum_capgain(1.0)) for _ in range(100)])
r3 = np.mean([pct_error(real_sum, dp_sum_capgain(10.0)) for _ in range(100)])

print("Average errors:", r1, r2, r3)

# Reference
 https://programming-dp.com/book.pdf( book for programming differential privacy)

 https://colab.research.google.com/drive/1azul6Syiu469PAEPcou0OgSc40ROaCb3?usp=sharing( PART 1 of class hands on tutorial)