In [36]:
# Load the data and libraries
import pandas as pd
import numpy as np

adult = pd.read_csv('adult_with_pii.csv')

## Question 1
"Construct a de-identified version of the adult dataset"
What columns did you remove from the dataset to de-identify it? Why did you choose these columns? Why did you not choose the remaining columns?

YOUR ANSWER HERE

In [2]:
adult.head()

,Name,DOB,SSN,Zip,Workclass,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Hours per week,Country,Target,Age,Capital Gain,Capital Loss
0,Karrie Trusslove,9/7/1967,732-14-6110,64152,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,56,2174,0
1,Brandise Tripony,6/7/1988,150-19-2766,61523,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35,0,0
2,Brenn McNeely,8/6/1991,725-59-9860,95668,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,32,0,0
3,Dorry Poter,4/6/2009,659-57-4974,25503,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,14,0,0
4,Dick Honnan,9/16/1951,220-93-3811,75387,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,72,0,0

In [3]:
def deidentify_adult():
    # YOUR CODE HERE
    # raise NotImplementedError()
    adult_deid = adult.copy().drop(columns=['Name', 'SSN'])
    return adult_deid

adult_deid = deidentify_adult()

In [4]:
adult_deid.head(2)

,DOB,Zip,Workclass,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Hours per week,Country,Target,Age,Capital Gain,Capital Loss
0,9/7/1967,64152,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,56,2174,0
1,6/7/1988,61523,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35,0,0

## Question 2
Write a pandas expression to return just the row containing information about Brenn McNeely.

In [5]:
def get_brenns_row():
    # YOUR CODE HERE
    # raise NotImplementedError()
    return adult[adult["Name"] == "Brenn McNeely"]

brenns_row = get_brenns_row()[['Name', 'DOB', 'Zip', 'Age']]

In [6]:
assert len(brenns_row) == 1
assert brenns_row['Zip'].iloc[0] == 95668
assert brenns_row['Age'].iloc[0] == 38

AssertionError:

In [7]:
brenns_row

            Name       DOB    Zip  Age
2  Brenn McNeely  8/6/1991  95668   32

# Question 3
Conduct a linking attack to recover Brenn's data from the adult_deid dataset.

In [8]:
def recover_brenns_row():
    # YOUR CODE HERE
    # raise NotImplementedError()
    row =  adult_deid[(adult_deid["Age"]==32) & (adult_deid["Zip"]==95668) & (adult_deid["DOB"]=="8/6/1991")]
    return row

brenns_recovered_row = recover_brenns_row()

In [9]:
assert len(brenns_recovered_row) == 1
assert brenns_recovered_row['Education'].iloc[0] == 'HS-grad'

# Question 4
What is the maximum age recorded in the dataset?

What is the difference in the sum of ages between the entire dataset and the dataset excluding Brenn McNeely's age?

What is the mean age of individuals in the dataset?

In [10]:
adult.describe()

,Zip,Education-Num,Hours per week,Age,Capital Gain,Capital Loss
count,32563.000000,32563.000000,32563.000000,32563.000000,32563.000000,32563.000000
mean,50267.834198,10.080429,40.436201,41.772503,1077.582655,87.298468
std,28938.770840,2.573138,12.349083,17.907765,7385.070103,402.948424
min,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,25151.500000,9.000000,40.000000,26.000000,0.000000,0.000000
50%,50161.000000,10.000000,40.000000,42.000000,0.000000,0.000000
75%,75516.500000,12.000000,45.000000,57.000000,0.000000,0.000000
max,99999.000000,16.000000,99.000000,93.000000,99999.000000,4356.000000

## Question 5
Write code to group the adult dataset by a single column and count the number of members in each group.

In [29]:
def group_one_count(col):
    # YOUR CODE HERE
    # raise NotImplementedError()
    
    # Grouping by a single column
    grouped_data = adult.groupby(col)
    
    # Counting the number of members in each group
    group_counts = grouped_data.size()

    return group_counts

In [30]:
group_one_count('Education')
s = group_one_count('Education')

In [31]:
assert s['10th'] == 933
assert s['9th'] == 514
assert s['Some-college'] == 7291

## Question 6
Write code to group the adult dataset by two columns and count the number of members in each group.

In [43]:
def group_two_count(col1, col2):
    # YOUR CODE HERE
    # raise NotImplementedError()
    
    # Grouping by a single column
    grouped_data = adult.groupby([col1, col2])
    
    # Counting the number of members in each group
    group_counts = grouped_data.size()

    return group_counts

In [44]:
group_two_count('Occupation', 'Education')
s = group_two_count('Occupation', 'Education')

In [45]:
assert s['Transport-moving']['Doctorate'] == 1
assert s['Adm-clerical']['10th'] == 38

In [46]:
s['Transport-moving']['Doctorate']

1

# Question 7
Write code to perform a differencing attack to determine Brenn McNeely's age using only the mean aggregation function over large groups.Assume you have access to len of dataset

In [ ]:

def get_brenns_age():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:

brenns_age = get_brenns_age()
assert brenns_age == 32.0

Question 8
What columns should we designate as quasi-identifiers in the dataset df, and why?

YOUR ANSWER HERE

In [ ]:
# Display the DataFrame containing Education, Marital Status, and Target columns
df = adult[['Education', 'Marital Status', 'Target']]
df.head(10)

# Question 8
Does the dataset df satisfy
3-Anonymity for
? Why not?

YOUR ANSWER HERE

# Question 9
Imagine the column Target is not a quasi-identifier, and we generalize the dataset to achieve
-Anonymity for
 as follows:

Do this in code Replace each education level below "HS Grad" with < HS and others with >= HS
Replace marital status with Married and Not Married
Delete rows as required to achieve
-anonymity for
For which rows is a homogeneity attack possible, and why?

YOUR ANSWER HERE after executing code

#Question 10
Write code to generalize the Zip column in the adult dataset.

In [ ]:
def generalize_zip(zip, depth):
    # YOUR CODE HERE
    raise NotImplementedError()

#Question 11

In [ ]:
# Load the data and libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

Write a counting query to determine whether or not Karrie Trusslove's age is 39.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
# TEST CASE

assert karrie_query() == 1

# Question 12

Add Laplace noise to the counting query you wrote in the last question to ensure differential privacy for epsilon=1
.

In [ ]:

# YOUR CODE HERE
raise NotImplementedError()
# TEST CASE

q2_runs = [dp_karrie_query() for _ in range(100)]
noise_runs = [np.random.laplace(loc=1, scale=1/epsilon) for _ in range(100)]

assert stats.wasserstein_distance(q2_runs, noise_runs) < 1

# Question 13

Now lets generalize above approach to a function

In [ ]:
def laplace_mech(v, sensitivity, epsilon):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# TEST CASE for question
dist1 = [laplace_mech(50, 1, 1.0) for _ in range(200)]
dist2 = [np.random.laplace(loc=50, scale=1) for _ in range(200)]

assert stats.wasserstein_distance(dist1, dist2) < 1

# Question 14
Complete the definition of dp_sum_capgain below. Your definition should compute a differentially private sum of the "Capital Gain" column of the adult dataset, and have a total privacy cost of epsilon.


In 2-5 sentences each, answer the following:

What clipping parameter did you use in your definition of dp_sum_capital, and why?
What was the sensitivity of the query you used in dp_sum_capital, and how is it bounded?
Argue that your definition of dp_sum_capital has a total privacy cost of epsilon
YOUR ANSWER HERE

In [ ]:
def dp_sum_capgain(epsilon):
    # YOUR CODE HERE
    raise NotImplementedError()

dp_sum_capgain(1.0)
# TEST CASE for question
def pct_error(orig, priv):
    return np.abs(orig - priv)/orig * 100.0

In [ ]:
real_sum = adult['Capital Gain'].sum()
r1 = np.mean([pct_error(real_sum, dp_sum_capgain(0.1)) for _ in range(100)])
r2 = np.mean([pct_error(real_sum, dp_sum_capgain(1.0)) for _ in range(100)])
r3 = np.mean([pct_error(real_sum, dp_sum_capgain(10.0)) for _ in range(100)])

print("Average errors:", r1, r2, r3)

# Reference
 https://programming-dp.com/book.pdf( book for programming differential privacy)

 https://colab.research.google.com/drive/1azul6Syiu469PAEPcou0OgSc40ROaCb3?usp=sharing( PART 1 of class hands on tutorial)